*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.image{
    background: linear-gradient(rgba(20, 35, 49, 0.5),#000),url(image/home1.png.jpg);
    height: 120vh;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    align-content: center;
}

.hm-1{
    text-align: center;
    padding-top: 50vh;
    color: white;
    
}
.hm-1 h1{
    font-family: 'Roboto', sans-serif;
    font-size:32px;
}
.hm-1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:rgb(239, 252, 253);
}
.hm-1 a{
    text-decoration: none;
    margin: 35px;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 6px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(90, 181, 255);
    border: 2px solid rgb(90, 181, 255);

}
header{
    position:fixed;
    top: 0;
    left:0%;
    width: 100%;
    display: block;
    align-items: center;
    transition: 0.3s;
    padding: 25px 0px;
    z-index: 100000;
    
    

}
header.sticky{
    padding: 25px 0px;
    background: rgb(47, 57, 65);
     position:fixed;
    top: 0;
    left:0%;
    width: 100%;
    display:block;
    align-items: center;
    transition: 0.3s;
    z-index: 100000;

}
header .logo
{
    position:relative;
    font-weight: 700px;
    color:#fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    top:0;
    left:11%;
 }
 header ul{
     position :relative;
     float: right;
     margin-top: 8px;
 }

 header ul li{
     position: relative;
     list-style: none;
     display: inline-block;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    color:cadetblue;
}
header.sticky ul li a:hover{
    color:cadetblue;
}
header img{
    width: 40px;
    height: 50px;
    position: fixed;
   left: 6%;
   
    
}
header.sticky ul li a{

    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    

}
#icon{
    font-size: 30px;
    color: white;
    display: none;
    padding-right: 4%;
}
@media screen and (max-width:992px) {
    header .logo{
        font-size: 24px;
    }
   header img {padding-top: 12px;}
    header ul{margin-top: 2px;}
    
    header ul li{
        align-items: center;
    }
    header ul li a{
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    header.sticky ul li a{
        letter-spacing: 1px;
    }
    header img{
        width: 40px;
        height: 50px;
        position: fixed;
        left: 5%;
        top:10px;
        
    }
        
}

@media screen and (max-width: 730px) {
    #icon{
        display:block;
        float: right;
    }
    header{
        align-items: center;
    }
    header img{
        width: 40px;
        height: 50px;
        position: fixed;
        
        
    }
        
    header{
        display:block;
        
         
    }
    header ul{
        width:100vw;
        color:rgb(18, 34, 46);
        position :fixed;
        display: block;
        margin-top: 30px;
        left: -120%;
        
        
        
        
    }
    header .logo{
        letter-spacing: 1px;
        margin-left: 20px;
    }
    header ul.show{
        left: 0%;
        
    }
    
    header.sticky ul{
        background-color: rgba(69, 75, 75, 0.808);
    }
  
    header ul li{
        line-height: 30px;
        display: block;
    
    
    }
    .image{
        height: 100vh;
    }
    .hm-1{
        padding-top: 40vh;
    }

}
.imgdiv{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(27, 26, 26);
    height: 50vh;
}
.textBox{
    margin: 0 auto;
    background-image: url(image/sld5.jpg);
    object-fit: cover;
    height: 50vh;
    width: 80%;
    background-position: right;
    background-size: cover;
    background-repeat: none;
    text-align: left;
    color: #fff;
}
    
.text11{
    padding: 20px;
        width: 50%;

}
    

/*.ban1,.ban2,.ban3,.ban4{
    height: 75vh;
    width: 100%;
    position:absolute;
    left: 0;
    right: 0;
    
}
.slider div img{
    width: 100%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation:zoom-out 3s linear-infinite;
}

.textBox{
    width:45%;
   
    color: #fff;
    
    animation: textup 3s linear-infinite;
    transform: translateY(100px);
    animation-delay: 4s;
}*/

.textBox h2{
    font-size: 32px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;

}
.textBox span{
    background-color: black;
    height: 2px;
    width: 25%;
    position:absolute;
    left:calc(10% + 20px) ;

}
.textBox p{
    font-size: 20px;
    margin-top: 50px;
    font-family:  'Roboto', sans-serif;
}
/*.ban1{
    animation: slide1 12s linear infinite;
}
.ban2{
    animation: slide2 12s linear infinite;
}
.ban3{
    animation: slide3 12s linear infinite;
}
.ban4{
    animation: slide4 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2
{
        0%{
            visibility: hidden;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: visible;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: hidden;
        }

}
@keyframes slide3
{
        0%{
            visibility: hidden;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: visible;
        }
        100%{
            visibility: hidden;
        }

}
@keyframes slide4
{
        0%{
            visibility: hidden;
        }
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: visible;
        }

}
@keyframes zoom-out{ 
    100%{
        width: 100%;
    }

}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}*/


@media screen and (max-width: 730px){
    .imgdiv{
        height: 50vh;
    }
    .textBox{
        width:80%;
        color: #fff;

    }
    .text11{
        width: 70%;
    }
    .textBox p{
        font-size: 18px;
        margin-top: 20px;
    }
    .textBox h2{
        padding-top: 15px;
        font-size: 24px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
    }

}
footer{
    position:absolute;
    left: 0;
    right:0;
    background: rgb(47, 57, 65);
    height: auto;
    width:100%;
    color:rgb(214, 205, 205);
    padding-top: 20px;
}
.footer-content{
   display:flex;
   max-width: 500px;
   margin:10px auto;
   line-height: 28px;
   font-size: 14px;
   justify-content:center;
   align-items: center;
   flex-direction: column;
}
.socials{
   list-style: none;
   display:flex;
   align-items: center;
   justify-content:center;
   margin: 1rem 0 3rem 0;
   margin-top: 10px;
   margin-bottom: 10px;
}

.socials li{
   margin: 0 10px;
}
.socials a{
   text-decoration: none;
   color: #fff;
}
.socials a i{
   font-size: 1.1rem;
   transition: color .4s ease;
}.socials a:hover{
   color: aqua;
}
.footer-bottom{
   background: #000;
   width: 100%;
   padding: 20px 0;
   text-align: center;

}
.footer-bottom p{
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
}
.footer-bottom{
   opacity: .4;
   font-weight: 200;
}

